body {
	/* background-color: red; */
}

form {
	width: 95%;
}

form>input {
	width: 70%;
}

select {
	width: 300px;
	padding: 25px;
	border-radius: 50px;
	border: none;
}

textarea {
	width: 280px;
	/* padding: 25px; */
	/* border-radius: 50px; */
	border: none;
}